<p>La cantidad {{ myShoppingCart.length }}</p>
<p>Total: ${{ total }}</p>
<p>Today: {{ today | date : "short" }}</p>
<p>Today: {{ today | timeAgo }}</p>
<p>Otra fecha: {{ date | date : "yyyy....dd....MM" }}</p>
<p>Otra fecha: {{ date | timeAgo }}</p>
<p>{{ "Hola Mundo" | uppercase }}</p>
<div class="products--grid">
  <app-product
    [myProduct]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
  ></app-product>
</div>

<!-- pipes are used only on template (HTML) -->
